#titre_page{
    color: rgb(4, 80, 73);
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;

}
/*
#logo{

    width: 100px;
    
    
    }
*/

body{

  background: #83a4d4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        font-size: 20px;
        margin: 0 auto;
        max-width: 1000px;              
}
a{
  color: black;
}
table,tr, td {

    margin-top: 20px;
    border: 1px solid rgb(43, 25, 110);
  }
  td:hover {
    background-color: white;
    }
table{

    width :100%
    border: 1px solid;
    padding: 5px;
    box-shadow: 5px 10px rgba(43, 25, 110, 0.37) ;
}
h1{

text-transform: uppercase;
text-align: center;
background-color: rgba(43, 25, 110, 0.37);
}

h2{
  background-color:rgba(163, 112, 163, 0.582);
  font-weight: bold;
  text-align: center;
}



tr:nth-child(even) {background-color: rgba(129, 118, 189, 0.397);}


}
@media only screen and (max-width: 600px) {
  body {
      background-color: lightblue;
  }
}
/*
.link{

text-decoration: none;
color: rgb(238, 231, 231);

}
table{
  border-collapse: collapse;
}

*/